@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1440px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
}

@media (max-width: 1440px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 22px;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p {
  font-weight: 400;
}